.Wraper {font-family: 'Gmarket';}
.Wraper ul {margin-bottom: inherit;padding-left: inherit;list-style-type: none;list-style: none;}
.Wraper a {text-decoration:inherit; color: inherit;}
.Wraper img {max-width: 100%; max-height: 100%;}
.Wraper h5 {margin-bottom:0;}
.Wraper p {margin-bottom:0;}

.Wraper .content {margin: 0 0 5rem}


/*========== header ==========*/
.Wraper .header {}
.Wraper .header .headerMenu {height: 100px; display: flex; align-items: center;}
.Wraper .header .headerMenu h2 {margin: 0 40px 0 0;}
.Wraper .header .headerMenu .searchBox {max-width: 452px; border: 1px solid rgba(0,0,0,.15); border-radius: 1rem;}
.Wraper .header .headerMenu .searchBox svg {color: #000;}
.Wraper .header .headerMenu .searchBox input {border-radius: 1rem; border: none;}
.Wraper .header .headerMenu .searchBox button {border-radius: 1rem; border: none;}

.Wraper .header nav {height: 40px; width: 100%;display: flex; justify-content: space-evenly; align-items: center;}
.Wraper .header nav .navBtn {font-weight: 600; background-color: #fff; color: #000; border: none;}



/*========== MainPage ==========*/
.Wraper .MainPage {}

/* banner */
.Wraper .MainPage .banner {height: 520px;background: #0000005b;}
.Wraper .MainPage .banner .swiper {height: 100%; max-width: 1440px;}
.Wraper .MainPage .banner .SliderWrap {display: flex; justify-content: space-around;}
.Wraper .MainPage .banner .SliderWrap .imgBox {}
.Wraper .MainPage .banner .SliderWrap .desc {display: flex; flex-direction: column; justify-content: center;}
.Wraper .MainPage .banner .SliderWrap .desc h4 {margin: 0 0 30px 0; font-size: 35px; font-weight: 600;}
.Wraper .MainPage .banner .SliderWrap .desc h4 span {}
.Wraper .MainPage .banner .SliderWrap .desc p {margin: 0;}
.Wraper .MainPage .banner .SliderWrap .desc .USE_TRGT {margin: 0 0 40px 0;}
.Wraper .MainPage .banner .SliderWrap .desc .USE_FEE {}
.Wraper .MainPage .banner .SliderWrap .desc .PLACE {}
.Wraper .MainPage .banner .SliderWrap .desc .DATE {}

/* content01 */
.Wraper .MainPage .contents .content01 {display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px;}
.Wraper .MainPage .contents .content01 .ItemBox {height: 100px; border: 1px solid #e8e8e8; border-radius: 0.8rem; display: flex; justify-content: space-between; align-items: center; overflow: hidden;}
.Wraper .MainPage .contents .content01 .ItemBox .textBox {margin-left: 3%; max-width: 62%;}
.Wraper .MainPage .contents .content01 .ItemBox .textBox h3 {font-size: 20px; font-weight: 600; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.Wraper .MainPage .contents .content01 .ItemBox .textBox p {font-size: 14px; margin-bottom: 0.1rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.Wraper .MainPage .contents .content01 .ItemBox .imgBox {max-width: 30%; position: relative; overflow: hidden;}
.Wraper .MainPage .contents .content01 .ItemBox .imgBox img {max-height: inherit;}

/* content02,03 */
.Wraper .MainPage .contents .content:not(.content01) h3 {text-align: center; font-weight: 600;}
.Wraper .MainPage .contents .content .swiper .imgBox {margin: 0 0 1rem; aspect-ratio:0.70; border-radius: 1rem; overflow: hidden;}
.Wraper .MainPage .contents .content .swiper .imgBox img {width: 100%; height: 100%; object-fit: cover;}
.Wraper .MainPage .contents .content .swiper .textBox {margin: 0 0.5rem;}
.Wraper .MainPage .contents .content .swiper .textBox h4 {font-size: 1rem; font-weight: 400;}
.Wraper .MainPage .contents .content .swiper .textBox p {font-size: 0.9rem; font-weight: 400; margin-bottom: 0;}
.Wraper .MainPage .contents .content .swiper .textBox span {font-size: 0.8rem; font-weight: 200;}

/* content02 nav */
.Wraper .MainPage .contents .content02 nav {margin: 0 0 1rem; gap: 0.8rem; display: flex; justify-content: space-evenly; justify-content: center;}
.Wraper .MainPage .contents .content02 nav button {padding: 0.7rem 0.9rem 0.4rem; border-radius: 2.2rem; background-color: #fff; border: 1px solid #e8e8e8;}
.Wraper .MainPage .contents .content02 nav button.active {background-color: #000; color: #fff;}



/*========== LangkingPage ==========*/
.Wraper .RangkingPage {}

.Wraper .RangkingPage .content01 {align-items: flex-start;}
.Wraper .RangkingPage .content01 .contentBox {width: calc(100%/3); padding: 1rem; position: relative;}
.Wraper .RangkingPage .content01 .contentBox .iconBox {position: absolute;}
.Wraper .RangkingPage .content01 .contentBox .iconBox svg {font-size: 2rem; position: absolute; top: 0;left: 0; transform: translate(-50%,-50%); color: #666;}
.Wraper .RangkingPage .content01 .contentBox:first-child .iconBox svg {color: #c775b9;}
.Wraper .RangkingPage .content01 .contentBox .iconBox span {position: absolute; top: 0;left: 0; transform: translate(-50%,-50%); color: #fff;}
.Wraper .RangkingPage .content01 .contentBox .imgBox {margin: 0 0 1.5rem; aspect-ratio: 0.75; border-radius: 1rem; border: 1px solid #e8e8e8; overflow: hidden;}
.Wraper .RangkingPage .content01 .contentBox .imgBox img {width: 100%; height: 100%; object-fit: cover;}
.Wraper .RangkingPage .content01 .contentBox .textBox {padding: 0 0.8rem;}
.Wraper .RangkingPage .content01 .contentBox .textBox h4 {margin: 0 0 0.5rem; font-size: 1.2rem;}
.Wraper .RangkingPage .content01 .contentBox .textBox p {margin: 0; font-size: 0.9rem;}
.Wraper .RangkingPage .content01 .contentBox .textBox span {margin: 0 0 0.5rem; font-size: 0.8rem; color: #999;}

.Wraper .RangkingPage .content02 {}
.Wraper .RangkingPage .content02 ul {}
.Wraper .RangkingPage .content02 ul li a {width: 100%; height: 9rem; display: flex; align-items: center; border-bottom: 1px solid #eee;}
.Wraper .RangkingPage .content02 ul li .lankingBox {display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 0; gap: 0; width: 5rem; height: 8rem;}
.Wraper .RangkingPage .content02 ul li .lankingBox span {font-size: 1.5rem; font-weight: 600;}
.Wraper .RangkingPage .content02 ul li .descBox {display: flex; flex-direction: row; align-items: center; justify-content: space-around; padding: 0; gap: 1.2rem; cursor: pointer; height: 100%; flex: 1 1;}
.Wraper .RangkingPage .content02 ul li .descBox .imgBox {box-sizing: border-box; position: relative; width: 5rem; height: 7rem; border-radius: .4rem; background: linear-gradient(0deg, rgba(0, 0, 0, .04), rgba(0, 0, 0, .04)); overflow: hidden;}
.Wraper .RangkingPage .content02 ul li .descBox .imgBox img {width: 100%; height: 100%; object-fit: cover;}
.Wraper .RangkingPage .content02 ul li .descBox .textBox {display: flex; flex-direction: row; align-items: center; justify-content: space-between; padding: 0; margin: 0; gap: 8px; list-style-type: none; position: relative; flex: 1 1; height: 100%;}
.Wraper .RangkingPage .content02 ul li .descBox .textBox h5 {width: 20rem; font-size: 1.1rem;}
.Wraper .RangkingPage .content02 ul li .descBox .textBox p {width: 15rem; font-size: 0.8rem;}



/*========== DetailPage ==========*/
.Wraper .DetailPage {}

.Wraper .DetailPage .productWrapper {display: flex; justify-content: space-between;}

.Wraper .DetailPage .productWrapper .productMain {margin: 2rem 0 0; max-width: 70%;}
.Wraper .DetailPage .productWrapper .productMain .productMainHeader {margin: 0 0 5rem;}
.Wraper .DetailPage .productWrapper .productMain .productMainHeader .summary {}
.Wraper .DetailPage .productWrapper .productMain .productMainHeader .summary .summaryHeader {margin: 0 0 1rem;}
.Wraper .DetailPage .productWrapper .productMain .productMainHeader .summary .summaryHeader h3 {font-size: 1.75rem; font-weight: 800;}
.Wraper .DetailPage .productWrapper .productMain .productMainHeader .summary .summaryHeader span {font-size: 0.9rem; color: #999;}

.Wraper .DetailPage .productWrapper .productMain .productMainHeader .summary .summaryBody {display: flex;}
.Wraper .DetailPage .productWrapper .productMain .productMainHeader .summary .summaryBody .imgBox {max-width: 30%;}
.Wraper .DetailPage .productWrapper .productMain .productMainHeader .summary .summaryBody .imgBox img {}
.Wraper .DetailPage .productWrapper .productMain .productMainHeader .summary .summaryBody .textBox {max-width: 70%; padding: 1rem 0 0 3rem;}
.Wraper .DetailPage .productWrapper .productMain .productMainHeader .summary .summaryBody .textBox li {margin: 0 0 1rem; display: flex; justify-content: space-between;}
.Wraper .DetailPage .productWrapper .productMain .productMainHeader .summary .summaryBody .textBox li span {width: 10rem;}
.Wraper .DetailPage .productWrapper .productMain .productMainHeader .summary .summaryBody .textBox li p {width: calc(100% - 12rem);}

.Wraper .DetailPage .productWrapper .productMain .productMainBody {}

.Wraper .DetailPage .productWrapper .productSide {margin: 5rem 0 0; max-width: 30%; width: 100%;}
.Wraper .DetailPage .productWrapper .productSide .sideWrap {position: sticky; top: 1rem;}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap {}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarHeader {display: flex; text-align: center;}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarHeader button {}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarHeader div {}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarBody {display: grid;grid-template-columns: repeat(7, 1fr);grid-template-rows: repeat(7, minmax(40px, auto));}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarBody li {position: relative; display: flex; align-items: center; justify-content: center;}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarBody li.style1 {}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarBody li.style2 {}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarBody li.style3 {}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarBody li:nth-child(7n+1) {color: #ff322e;}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarBody li:nth-child(7n+1).disabled {color: #f8c4c4;}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarBody li.disabled {color: #ccc;}
.Wraper .DetailPage .productWrapper .productSide .sideWrap .calendarWrap .calendarBody li.today::after {position: absolute;content: ''; top: 45%;left: 50%; width: 70%; height: 80%; transform: translate(-50%,-50%); border-radius: 50%; background-color: #00000059;}



/*========== ListPage ==========*/
.Wraper .ListPage {}
.Wraper .ListPage ul {gap: 1rem; padding: initial; display: flex; flex-wrap: wrap; justify-content: flex-start;}
.Wraper .ListPage ul .listItem {width: calc((100% / 4) - (3rem / 4));}
.Wraper .ListPage ul .listItem .imgBox {margin: 0 0 1rem; aspect-ratio:0.70; border-radius: 1rem; overflow: hidden;}
.Wraper .ListPage ul .listItem .imgBox img {width: 100%; height: 100%; object-fit: cover;}
.Wraper .ListPage ul .listItem .textBox {}
.Wraper .ListPage ul .listItem .textBox h4 {}
.Wraper .ListPage ul .listItem .textBox h4 span {}
.Wraper .ListPage ul .listItem .textBox p {}
.Wraper .ListPage ul .listItem .textBox span {}



@font-face {
	font-family: 'Gmarket';
	font-weight: 100;
	src: url('./assets/fonts/GmarketSansLight.woff');
}
@font-face {
	font-family: 'Gmarket';
	font-weight: 300;
	src: url('./assets/fonts/GmarketSansMedium.woff');
}
@font-face {
	font-family: 'Gmarket';
	font-weight: 600;
	src: url('./assets/fonts/GmarketSansBold.woff');
}